<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <img src="/assets/img/logo.png" height="50" width="50" alt="EB" title="EB"/>      
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <h2>Home</h2> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profesores" routerLinkActive="active">
          <h2>Profesores</h2>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cursos" routerLinkActive="active">
          <h2>Cursos</h2>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/alumnos" routerLinkActive="active">
          <h2> Alumnos</h2>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pruebas" routerLinkActive="active">
          <h2>Pruebas</h2>
        </a>
      </li>
      
    </ul>
    
  </div>
</nav>